@media print {
    .app-layout {
        display: flex;
        flex-direction: column;
    }

    .section {
        display: flex;
        flex-direction: row;

        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
    }
}