@import "../common/style.scss";

// --- Page ---
.Home {
    @extend .page;

    background-image: linear-gradient(to right, $primary, $primary-light);

    color: $white;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

// --- Header ---
.Home header {
    width: 100vw;

    padding-right: 16px;
    padding-top: 8px;
    display: flex;
    flex-direction: row-reverse;
}

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.icon-card {
    @extend .card8;
    @extend .transition100;

    text-decoration: none;
    border: none;

    padding: 8px;
    margin: 8px;
    position: relative;
    top: 0px;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    .material-icons {
        color: $black;
        font-size: 48px;
    }

    .idle {
        @extend .transition200;
    }

    .onhover {
        @extend .transition200;

        position: fixed;

        opacity: 0%;
    }
}

.icon-card:hover {
    @extend .shadow16;

    background-color: $grey200;

    top: -4px;

    .idle {
        opacity: 0%;
    }

    .onhover {
        opacity: 100%;
    }
}

.icon-card:active {
    @extend .shadow24;

    background-color: $grey300;
}

// Hint
.icon-card + .hint {
    @extend .card16;
    @extend .transition200;

    color: $black;
    opacity: 0%;

    border-radius: 12px;
    position: fixed;
    top: #{48 * 1.5}px;
    padding-left: 12px;
    padding-right: 12px;

    text-align: center;
    white-space: nowrap;
}

.icon-card:hover + .hint {
    opacity: 100%;
}

// --- Content ---
.content {
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture {
    width: 33vh;
    height: 33vh;

    border-radius: 50%;
}

.picture-card {
    @extend .card8;

    // Full white like the picture
    background-color: #ffffff;

    border-radius: 50%;
    padding: 6px;
}

// --- Nav ---
.Home nav {
    display: flex;
    // align-items: center;
    // justify-items: center;

    .nav-button {
        @extend .card8;

        flex: 1;

        a {
            // TODO : Update
            font-size: 28px;

            text-decoration: none;
            color: $black;
        }
    }
}