@import "../common/style.scss";

// --- Page ---
.Home {
    @extend .page;

    background-image: linear-gradient(to right, $primary, $primary-light);

    color: $white;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

// --- Header ---
.Home header {
    width: 100vw;

    padding-right: 16px;
    padding-top: 8px;
    display: flex;
    flex-direction: row-reverse;
}

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.icon-card {
    @extend .raised-button;

    text-decoration: none;
    border: none;

    padding: 8px;
    margin: 8px;
    position: relative;
    top: 0px;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    .material-icons {
        color: $black;
        font-size: 48px;
    }

    .idle {
        @extend .transition200;
    }

    .onhover {
        @extend .transition200;

        position: fixed;

        opacity: 0%;
    }
}

.icon-card:hover {
    top: -4px;

    .idle {
        opacity: 0%;
    }

    .onhover {
        opacity: 100%;
    }
}

// Hint
.icon-card + .hint {
    @extend .card16;
    @extend .transition200;

    color: $black;
    opacity: 0%;

    border-radius: 12px;
    position: fixed;
    top: #{48 * 1.5}px;
    padding-left: 12px;
    padding-right: 12px;

    text-align: center;
    white-space: nowrap;
}

.icon-card:hover + .hint {
    opacity: 100%;
}

// --- Content ---
.content {
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture {
    width: 33vh;
    height: 33vh;

    border-radius: 50%;
}

.picture-card {
    @extend .card8;

    // Full white like the picture
    background-color: #ffffff;

    border-radius: 50%;
    padding: 6px;
}

// --- Nav ---
.Home nav {
    display: flex;
    justify-content: space-around;

    margin-bottom: 48px;

    .nav-button-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;

        // Button
        .nav-button {
            @extend .raised-button;

            border-radius: 32px;
            padding: 8px 16px 8px 16px;

            p {
                @extend .button-text;

                // TODO : Update
                font-size: 24px;
                font-weight: 500;
                display: inline;
                text-transform: uppercase;

                color: $black;
            }
        }

        // Arrow
        .arrow-down-wrapper {
            @extend .transition150;

            position: relative;
            top: 0;
        }

        .nav-button:hover + .arrow-down-wrapper {
            top: 12px;
        }

        // Some transformations to make a triangle
        // with rounded borders
        .arrow-down {
            margin-top: 16px;

            background-color: $white;
        }
        .arrow-down:before,
        .arrow-down:after {
            content: '';
            position: absolute;
            background-color: inherit;
        }
        .arrow-down,
        .arrow-down:before,
        .arrow-down:after {
            width:  12px;
            height: 12px;
            border-top-right-radius: 50%;
        }

        .arrow-down {
            transform: rotate(120deg) skewX(-30deg) scale(1,.866);
        }
        .arrow-down:before {
            transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
        }
        .arrow-down:after {
            transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
        }
    }
}
