@import "../common/style.scss";

$print-home-width: #{.25 * $print-width};

// --- Page ---
.Home {
    @extend .page;

    background-image: linear-gradient(to right, $primary, $primary-light);

    color: $white;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    @media print {
        width: $print-home-width;
        height: $print-height;
        justify-content: flex-start;
    }
}

// --- Header ---
.Home header {
    width: 100vw;

    padding-top: 8px;

    display: flex;
    flex-direction: row;

    @media (orientation: portrait) {
        justify-content: center;
        padding-bottom: 8px;
    }

    .icon-button:first-child {
        margin-left: 8px;
    }

    .icon-button:last-child {
        margin-right: 8px;
    }

    .spacer {
        flex: 1;

        @media (orientation: portrait) {
            flex: 0;
        }
    }

    @media print {
        position: absolute;
        align-items: flex-start;
        flex-direction: column;

        bottom: #{.1 * $print-height};
        left: 8px;

        div.print-hide {
            position: absolute;
            opacity: 0;
        }
    }
}

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative;

    @media print {
        padding-bottom: 10mm;
    }
}

.icon-button-text {
    > p {
        font-size: 2.2em;
        padding: 0;
        margin: 0;
    }

    min-width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-card {
    @extend .raised-button;

    text-decoration: none;
    border: none;

    padding: 8px;
    margin: 8px;
    position: relative;
    top: 0px;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    img {
        width: 48px;
        height: 48px;
    }

    .material-icons {
        color: $black;
        font-size: 48px;
    }

    // Mobile phones
    @media (max-width: 480px) {
        img {
            width: 36px;
            height: 36px;
        }

        .material-icons {
            font-size: 36px;
        }
    }

    // Tiny width devices
    @media (max-width: 400px) {
        img {
            width: 32px;
            height: 32px;
        }

        .material-icons {
            font-size: 32px;
        }

        padding: 6px;
        margin: 4px;
    }

    .idle {
        @extend .transition200;
    }

    .onhover {
        @extend .transition200;

        position: absolute;

        opacity: 0;
    }
}

.icon-card:hover, .icon-card:active {
    top: -4px;

    .idle {
        opacity: 0;
    }

    .onhover {
        opacity: 1;
    }
}

// Hint
.icon-card + .hint {
    @extend .card16;
    @extend .transition200;

    color: $black;
    opacity: 0;

    border-radius: 12px;
    position: absolute;
    top: #{48 * 1.5}px;
    padding-left: 12px;
    padding-right: 12px;

    text-align: center;
    white-space: nowrap;

    // Can't hover on touch screens
    @media (hover: none), (-moz-touch-enabled: 1) {
        transition-delay: 5s;
    }

    @media print {
        opacity: 1;
        left: 8px;
        font-size: 12px;

        a {
            color: $primary;
        }
    }
}

@media (hover: none), (-moz-touch-enabled: 1) {
    .icon-card + .hint-odd {
        top: #{48 * 1.5 + 32}px;
    }
}

.icon-card:hover + .hint {
    opacity: 1;
}

.icon-card:active + .hint {
    opacity: 1;

    // Instant anim on touch screens
    @media (hover: none), (-moz-touch-enabled: 1) {
        transition: unset;
    }
}

// Copied ! text
.icon-card ~ .copied {
    opacity: 0;

    position: absolute;
    top: #{48 * 2.5}px;

    transition-delay: 250ms;
    transition-duration: 200ms;
    transform: scale(1);
}

// Non touch screen
@media (hover: hover), (-moz-touch-enabled: 0) {
    .icon-card:active ~ .copied {
        opacity: 1;
        transition-delay: 0ms;
        transition-duration: 0ms;
        transform: scale(1.25);
    }
}

// --- Content ---
.Home .content {
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 75vh;

    > div {
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media print {
            flex: unset;
        }
    }

    h1, h2 {
        text-align: center;
        margin: 0;

        @media print {
            text-align: left;
            padding: 8px;
            padding-left: 16px;
        }
    }

    .title-wrapper {
        margin-top: 8vh;

        @media (orientation: landscape) and (max-height: 900px) {
            margin-top: 4vh;
        }

        @media print {
            margin-top: 16px;
        }
    }

    .subtitle-wrapper {
        margin-bottom: 8vh;

        @media (orientation: landscape) and (max-height: 900px) {
            margin-bottom: 4vh;
        }

        @media print {
            margin-bottom: 8px;
        }
    }

    @media (orientation: portrait) {
        margin-top: 4vh;
    }

    @media print {
        min-height: unset;
        width: $print-home-width;
        max-height: #{.75 * $print-height};

        justify-content: flex-start;
    }
}

.picture {
    width: 33vh;
    height: 33vh;

    border-radius: 50%;

    @media print {
        width: 100%;
        height: unset;
        box-sizing: border-box;
    }
}

.picture-card {
    @extend .card8;

    // Full white like the picture
    background-color: #ffffff;

    border-radius: 50%;
    padding: 6px;

    @media print {
        max-width: $print-home-width;
        max-height: $print-home-width;
        box-sizing: border-box;
    }
}

.picture-wrapper {
    flex: 2;

    @media print {
        padding: 8px;
        box-sizing: border-box;
    }
}

// --- Nav ---
.Home nav {
    display: flex;
    justify-content: space-around;

    margin-bottom: 48px;

    // Mobile phones
    @media (max-width: 480px) {
        margin-bottom: 24px;
    }

    .nav-button-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;

        // Button
        .nav-button {
            @extend .raised-button;

            border-radius: 32px;
            padding: 8px 32px 8px 32px;
            top: 0px;
            position: relative;

            p {
                @extend .button-text;

                font-size: 24px;
                font-weight: 500;
                display: inline;
                text-transform: uppercase;

                color: $black;

                // Mobile phones
                @media (max-width: 480px) {
                    font-size: 16px;
                }
            }
        }

        .nav-button:hover {
            top: -4px;
        }

        // Arrow
        .arrow-down-wrapper {
            @extend .transition150;

            position: relative;
            top: 0;
        }

        .nav-button:hover + .arrow-down-wrapper {
            top: 8px;
        }

        // Some transformations to make a triangle
        // with rounded borders
        .arrow-down {
            margin-top: 16px;

            background-color: $white;
        }
        .arrow-down:before,
        .arrow-down:after {
            content: '';
            position: absolute;
            background-color: inherit;
        }
        .arrow-down,
        .arrow-down:before,
        .arrow-down:after {
            width:  12px;
            height: 12px;
            border-top-right-radius: 50%;
        }

        .arrow-down {
            transform: rotate(120deg) skewX(-30deg) scale(1,.866);
        }
        .arrow-down:before {
            transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
        }
        .arrow-down:after {
            transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
        }
    }

    @media (max-width: 720px) {
        .phone-hide {
            display: none;
        }
    }
}
