@import "../common/style.scss";

.Projects {
    .bg-grey {
        background-color: $grey;

        margin: 0;

        height: 75vh;
    }

    .bg-accent {
        background-color: $accent;

        height: #{66 * 2vh};
    }

    footer {
        color: $white;
        background-color: $black;

        padding: 5vw 24px 24px 24px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
            font-weight: 300;
            font-size: 36px;
        }
    }
}