@import "../common/style.scss";

.Projects {
    .bg-grey {
        background-color: $grey;

        margin: 0;

        height: 75vh;
    }

    .bg-accent {
        background-color: $accent;

        height: #{66 * 2vh};
    }

    footer {
        background-color: $black;

        // TODO : Rm
        height: 25vh;
    }
}