@import "../common/style.scss";
@import "../widgets/Dots.scss";
@import "../widgets/ProjectCard.scss";

// TODO : Change layout on tiny width devices

$footer-height: 64px;

.Projects {
    .bg {
        box-sizing: border-box;

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        z-index: -100;

        .project-wrapper {
            width: 50%;
            box-sizing: border-box;

            padding: 3vh 4vw;


            @media (orientation: portrait) {
                width: 100%;
            }

            @media (max-height: 900px) {
                padding: 2vh 2vw;
            }
        }
    }

    .bg-grey {
        background-color: $grey;

        height: $project-card-height;

        @media (orientation: portrait) {
            height: #{2 * $project-card-height};
        }

        padding-bottom: #{$ndots / 2}vw;

        .project-wrapper {
            height: 100%;

            @media (orientation: portrait) {
                height: 50%;
            }
        }
    }

    .bg-accent {
        background-color: $accent;

        // TODO : Update height
        height: #{$project-card-height * 2};

        @media (orientation: portrait) {
            height: #{4 * $project-card-height};
        }

        padding-top: #{$ndots / 2}vw;
        padding-bottom: #{$ndots / 2}vw;

        .project-wrapper {
            height: 50%;

            @media (orientation: portrait) {
                height: 25%;
            }
        }
    }

    footer {
        color: $white;
        background-color: $black;

        padding: 5vw 24px 24px 24px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        > div {
            flex: 1;
        }

        .github {
            @extend .transition150;

            height: $footer-height;
            transform: scale(1);

        }

        .github:hover {
            transform: scale(1.15);
        }

        h4 {
            font-weight: 300;
            font-size: 36px;

            justify-self: center;
            text-align: center;
        }

        .made-with {
            display: flex;
            align-items: flex-end;

            .spacer {
                flex: 1;
            }

            p {
                margin: 4px 8px 4px 4px;
            }

            img {
                margin-right: 8px;
                height: $footer-height;
            }
        }
    }
}
