@import "../common/style.scss";

.Skills {
    @extend .page;

    background-color: $grey;
    color: $black;

    box-sizing: border-box;
    padding: 24px;

    display: flex;
    flex-wrap: wrap;
}
