@import "../common/style.scss";

.Skills {
    @extend .page;

    background-color: $grey;
    color: $black;

    .wrapper {
        width: 96%;
        height: 92%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        gap: 24px;
        padding: 0;
        margin: 0;
    }
}
