@import "../common/style.scss";

.Skills {
    @extend .page;

    background-color: $grey;
    color: $black;

    box-sizing: border-box;
    padding: 2vh 2vw;

    display: flex;
    flex-wrap: wrap;

    @media (orientation: portrait) {
        height: unset;
    }
}

@media (max-height: 720px) {
    .Skills {
        padding: 8px;
    }
}

@media (min-height: 1080px) {
    .Skills {
        padding: 3vw;
    }
}
