@import 'anim.scss';
@import 'colors.scss';
@import 'shadows.scss';
@import 'widgets.scss';

// Popup widget
.popup-wrapper {
    @extend .transition250;

    position: fixed;

    width: 100vw;
    height: 100vh;

    z-index: 200;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, .12);

    animation-duration: 250ms;
}

.popup-card {
    @extend .card24;

    position: relative;

    z-index: 201;

    padding: 16px;
    margin: 16px;

    width: 50vw;
    height: 50vh;

    display: flex;
    flex-direction: column;

    animation-duration: 250ms;

    overflow-y: hidden;

    @media (max-width: 1200px) {
        width: 100vw;
        height: unset;

        max-height: 90vh;
    }
}

.popup-top {
    display: flex;
    align-items: center;

    width: 100%;
    box-sizing: border-box;

    padding: 8px;

    * {
        padding: 8px 16px;
        margin: 0;
    }

    .popup-title {
        flex: 1;

        font-size: 1.8em;
        font-weight: 300;
        text-align: center;
    }

    .popup-close {
        @extend .transition150;

        cursor: pointer;
        transform: none;
    }

    .popup-close:hover {
        transform: scale(1.2);
    }

    @media (max-height: 720px) {
        * {
            padding: 8px;
            margin: 0;
        }
    }
}

.popup-content {
    flex: 1;
    box-sizing: border-box;
    padding: 16px;
    margin-top: 8px;

    overflow-y: scroll;

    h2, h3, p {
        padding: 0;
        margin: 0;
    }

    h2 {
        margin: 2em;
        font-size: 1.2em;
        text-align: center;
        font-weight: 500;
    }

    h3 {
        font-size: 1.2em;
        margin: 1em 0 .5em 1em;
    }

    // Mobile devices
    @media (max-height: 720px) {
        padding: 8px;

        h2 {
            margin: .8em;
            font-size: 1.2em;
            text-align: center;
            font-weight: 500;
        }

        h3 {
            font-size: 1.2em;
            margin: .5em 0 .2em .5em;
        }
    }
}

.popup-wrapper.popup-hide {
    animation-name: anim-popup-hide;
}

.popup-wrapper.popup-show {
    animation-name: anim-popup-show;
}

.popup-hide .popup-card {
    animation-name: anim-popup-close;
}

.popup-show .popup-card {
    animation-name: anim-popup-open;
}

@keyframes anim-popup-open {
    from {
        transform: translateY(20px) scale(.98);
    }
    to {
        transform: none;
    }
}

@keyframes anim-popup-close {
    from {
        transform: none;
    }
    to {
        transform: translateY(20px) scale(.98);
    }
}

@keyframes anim-popup-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes anim-popup-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}