@import 'colors.scss';
@import 'text.scss';
@import 'shadows.scss';

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

// TODO : Roboto

body, html {
  width: 100%;
  height: 100%;
  margin: 0;

  align-items: center;
  justify-content: center;

  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: $white;
}

.page {
  width: 100vw;
  height: 100vh;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

// TODO : Change dimensions
.card {
  width: 200px;
  height: 200px;
  background-color: $white;
  margin: 8px;
  border-radius: 4px;
}