// @import "../common/style.scss";

// // Change also npairs within widgets/Dots.js
// $ndots: 10;

// .dots-wrapper {
//     position: relative;

//     width: 100vw;

//     .dots-fixed {
//         background-color: blue;

//         position: absolute;
//         width: 100vw;
//         height: 100vh;

//         .dots {
//             background-color: red;
//             position: relative;
//             // top: #{-$ndots / 2}vw;
//             display: flex;

//             width: 100vw;

//             .dot {
//                 // width: #{100 / ndots}vw;
//                 // height: #{100 / ndots}vw;
//                 width: 100vw;
//                 height: 100vh;

//                 border-radius: 50%;

//                 background-color: $accent;
//             }

//             .dot-grey {
//                 background-color: $grey;
//             }

//             .dot-accent {
//                 background-color: $accent;
//             }

//             .dot-black {
//                 background-color: $black;
//             }
//         }
//     }
// }

@import "../common/style.scss";

// Change also npairs within widgets/Dots.js
$ndots: 10;

.dots-wrapper {
    position: relative;

    .dots {
        position: absolute;
        top: #{-$ndots / 2}vw;
        display: flex;

        .dot {
            width: #{100 / $ndots}vw;
            height: #{100 / $ndots}vw;

            border-radius: 50%;
        }

        .dot-grey {
            background-color: $grey;
        }

        .dot-accent {
            background-color: $accent;
        }

        .dot-black {
            background-color: $black;
        }
    }
}