@import "../common/style.scss";

$experience-border-radius: 24px;
$experience-dark: $grey800;

.ExperienceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-out {
    color: $experience-dark;
    font-weight: 800;

    margin: 0;
}

.experience-year {
    text-align: center;
    font-size: 1.3em;

    padding: 1.618em 0;
}

.experience-card {
    @extend .card;
    @extend .transition200;

    border-radius: $experience-border-radius;

    flex: 1;
    display: flex;
    flex-direction: row;

    padding: 1em 2em;

    // TODO
    // .decoration {
    //     @extend .shadow4;

    //     background-color: $primary;
    //     width: #{$experience-border-radius * 1.5};
    //     border-radius: $experience-border-radius;

    //     @media (max-width: 480px) {
    //         width: 0;
    //     }

    //     @media print {
    //         width: 24px;
    //     }
    // }

    .content {
        h4 {
            font-size: 2em;
            font-weight: 300;
            text-align: center;
            color: $accent;

            margin: 1em;
        }

        p {
            text-align: justify;
            padding: 0 1.618em;
            margin: 0 0 2em 0;
            line-height: 1.618em;
        }

        a {
            color: $primary;
        }
    }

    @media (max-width: 720px) {
        flex-direction: column;
    }
}

.experience-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 10em;
}

.experience-button {
    .button {
        @extend .transition200;

        cursor: pointer;

        padding: .75em;

        border: 2px solid $primary-light;
        border-radius: 16px;
    }

    .button > * {
        @extend .transition200;

        font-size: 2.5em;
    }

    .button:hover {
        background-color: $primary-light;

        transform: translateY(-4px);

        > * {
            color: $white;
            transform: scale(1.1);
        }
    }
}

.experience-button-wrapper > .hint {
    @extend .transition200;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;

    .hint-wrapper {
        position: absolute;

        .hint-card {
            position: relative;
        }
    }
}

.experience-button:hover + .hint {
    opacity: 1;
}
