@import "../common/style.scss";

$experience-border-radius: 24px;
$experience-dark: $grey800;

.ExperienceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-out {
    color: $experience-dark;
    font-weight: 800;

    margin: 0;
}

.experience-year {
    text-align: center;
    font-size: 1.3em;

    padding: 1.618em 0;
}

.print-experience-year {
    color: $experience-dark;

    padding: 0 0 0 1em;
    margin: 0;

    font-size: .7em;
    font-weight: 600;
}

.experience-card {
    @extend .card;
    @extend .transition200;

    border-radius: $experience-border-radius;

    flex: 1;
    display: flex;
    flex-direction: row;

    padding: 1em 2em;
    margin: 8px;

    @media (max-width: 1200px) {
        padding: 8px;
    }

    @media (max-width: 720px) {
        flex-direction: column;
    }

    @media print {
        padding: 8px;
    }
}

.experience-card > .content {
    h4 {
        font-size: 2em;
        font-weight: 300;
        text-align: center;
        color: $accent;

        margin: 1em;
    }

    p {
        text-align: justify;
        padding: 0 1.618em;
        margin: 0 0 2em 0;
        line-height: 1.618em;
    }

    a {
        color: $primary;
    }

    @media (max-width: 1200px) {
        h4 {
            margin: .5em;
        }
    }

    @media print {
        h4 {
            font-weight: 400;
            font-size: 1.2em;
            margin: .3em;
            padding: 0;
        }

        p {
            padding: 0 1em;
            line-height: unset;
            font-size: .8em;
            margin: 0 0 8px 0;
        }

        > .content-title {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.experience-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 10em;

    @media (max-width: 720px) {
        padding-bottom: 16px;
    }
}

.experience-button {
    .button {
        @extend .transition200;

        cursor: pointer;

        padding: .75em;

        border: 2px solid $primary-light;
        border-radius: 16px;
    }

    .button > * {
        @extend .transition200;

        font-size: 2.5em;
    }

    .button:hover {
        background-color: $primary-light;

        transform: translateY(-4px);

        > * {
            color: $white;
            transform: scale(1.1);
        }
    }
}

.experience-button-wrapper > .hint {
    @extend .transition200;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;

    transform: translateY(12px) scale(.96);

    .hint-wrapper {
        position: absolute;

        .hint-card {
            position: relative;
        }
    }
}

.experience-button:hover + .hint {
    opacity: .9;

    transform: translateY(0px);
}
