@import "../common/style.scss";

$skill-border-radius: 24px;

.SkillCard {
    width: 50vw;
    height: 50vh;

    display: flex;
    flex-direction: row;

    .skill-card {
        @extend .card8;
        @extend .transition200;

        border-radius: $skill-border-radius;

        flex: 1;
        display: flex;
        flex-direction: row;

        // TODO : Remove big margins for small width devices
        margin: 48px 96px 48px 96px;
        padding: 16px;

        .decoration {
            @extend .shadow4;

            background-color: $accent;
            width: #{$skill-border-radius * 1.5};
            border-radius: $skill-border-radius;
        }

        .content {
            flex: 1;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            padding: 16px;

            h4 {
                color: $accent;

                margin: 0 0 16px 48px;

                font-size: 32px;
                font-weight: 400;
            }

            ul {
                flex: 1;

                display: flex;
                flex-direction: column;
                justify-content: center;

                li {
                    // TODO : Dot before custom ?
                    font-size: 18px;
                    padding: 4px 0 4px 0;
                    line-height: #{18 * 1.5px};

                    a {
                        // TODO : Visited color affected ?
                        color: $primary;
                    }
                }
            }

            table {
                flex: 1;
                width: 100%;

                .item-center {
                    text-align: center;
                }

                .ratio {
                    width: 6vw;

                    .bar {
                        height: 12px;
                        border-radius: 8px;
                    }
                }

                .hint {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        height: 48px;
                        text-align: center;
                    }

                    img + div {
                        @extend .transition100;

                        top: -8px;
                        opacity: 0%;
                        pointer-events: none;
                    }

                    img:hover + div {
                        opacity: 90%;
                    }

                    div {
                        position: relative;

                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .hint-card {
                            @extend .shadow16;

                            position: absolute;

                            background-color: $grey800;
                            border-radius: 16px;
                            padding-left: 16px;
                            padding-right: 16px;

                            p {
                                color: $white;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    .skill-card:hover {
        @extend .shadow16;
    }
}
