@import "../common/style.scss";

$skill-border-radius: 24px;

.SkillCard {
    width: 50%;
    height: 50%;
    box-sizing: border-box;

    padding: 3vh 2vw;

    display: flex;
    flex-direction: row;

    @media (orientation: portrait) {
        width: 100%;
        height: unset;
    }

    @media (orientation: landscape) and (max-height: 768px) {
        padding: 2vh 1vw;
    }

    .skill-card {
        @extend .card8;
        @extend .transition200;

        border-radius: $skill-border-radius;

        flex: 1;
        display: flex;
        flex-direction: row;

        padding: 16px;

        .decoration {
            @extend .shadow4;

            background-color: $accent;
            width: #{$skill-border-radius * 1.5};
            border-radius: $skill-border-radius;

            @media (max-width: 480px) {
                width: 0;
            }
        }

        .content {
            flex: 1;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            padding: 16px;

            @media (max-width: 480px) {
                padding: 8px;
            }

            h4 {
                color: $accent;
                font-size: 32px;
                font-weight: 400;

                margin: 0 0 8px 48px;

                @media (orientation: portrait) {
                    text-align: center;
                    margin: 0 0 8px 16px;
                    align-self: stretch;
                }

                @media (max-width: 599px) {
                    font-size: 24px;
                }

                @media (min-height: 900px), (orientation: portrait) {
                    margin-bottom: 16px;
                }

            }

            ul {
                flex: 1;

                margin: 0;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;

                flex-wrap: wrap;

                width: 100%;
                box-sizing: border-box;

                // Mobile phones / low res
                @media (orientation: portrait) and (max-width: 480px),
                        (orientation: landscape) and (max-width: 1024px) {
                    padding-inline-start: 8px;
                }

                li {
                    font-size: 18px;
                    flex: 1;
                    line-height: #{18 * 1.5px};

                    @media (max-height: 900px) {
                        line-height: #{18 * 1.2px};
                    }

                    @media (orientation: portrait) {
                        margin-top: 4px;
                        margin-bottom: 4px;
                    }

                    a {
                        color: $primary;
                    }
                }
            }
        }
    }

    .skill-card:hover {
        @extend .shadow16;
    }

    .content.icon-skill-card,
    .skill-card.icon-skill-card {
        padding-left: 0;
        margin-left: 0;
    }

    .icon-card-content {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        .icon-card-row {
            flex: 1;

            display: flex;

            @media (orientation: portrait) {
                flex-direction: column;
            }
        }

        .icon-card-title {
            flex: 1;
            box-sizing: border-box;

            height: 50%;
            margin: auto;

            .wrapper {
                @extend .shadow4;

                background-color: $accent;
                border-top-right-radius: 100vh;
                border-bottom-right-radius: 100vh;

                width: 100%;
                height: 100%;
                box-sizing: border-box;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            p {
                color: $white;
                margin: 0;
                font-size: 18px;
            }
        }

        @media (orientation: portrait) {
            .icon-card-title {
                height: 100%;
                width: 100%;

                padding: 8px 0;

                .wrapper {
                    width: 40%;
                }

                p {
                    padding: 8px 8px;
                }
            }
        }

        .icon-card-list {
            flex: 3;

            display: flex;
            align-items: center;

            > * {
                flex: 1;
            }

            > p {
                text-align: center;
                margin: 0;
            }

            // Icons
            .icon-wrapper {
                height: 48px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media (orientation: portrait) and (max-width: 599px) {
                    height: 36px;
                }
            }

            img {
                height: 100%;
            }
        }

        @media (orientation: portrait) {
            .icon-card-list {
                padding-left: 16px;

                flex-wrap: wrap;

                > * {
                    box-sizing: border-box;
                    min-width: 50%;
                }

                > div,
                > p {
                    margin-top: 8px;
                    margin-bottom: 8px;
                }
            }
        }

        // Hint
        .hint {
            position: relative;

            display: flex;
            flex-direction: column;
            align-items: center;

            img + .hint-wrapper {
                @extend .transition100;

                top: 48px;
                opacity: 0;
                pointer-events: none;
                z-index: 100;
            }

            img:hover + .hint-wrapper {
                opacity: .9;
            }

            // For touch devices
            img:active + .hint-wrapper {
                opacity: .9;
                transition-duration: 0s;
            }

            .hint-wrapper {
                position: absolute;

                min-width: 6vw;
            }

            .hint-card {
                @extend .shadow16;

                position: relative;

                background-color: $grey800;
                border-radius: 16px;

                min-width: 100%;
                box-sizing: border-box;
                padding: 4px 16px 4px 16px;

                p {
                    color: $white;
                    font-size: 12px;
                    white-space: nowrap;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    .table {
        padding: 2vh 0 2vh 0;
    }
}

@media (max-height: 720px) {
    .SkillCard {
        padding: 8px;

        .hint img {
            height: 36px;
        }
    }
}